name: Main

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  main:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: |
            .build
            .swiftpm
          key: ${{ runner.os }}-spm-v1-${{ hashFiles('Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-v1-
      
      - uses: actions/cache@v3
        with:
          path: BuildTools/.build
          key: ${{ runner.os }}-spm-v1-${{ hashFiles('BuildTools/Package.resolved') }}

      - run: sudo xcode-select -s /Applications/Xcode_14.1.app

      - name: SwiftFormat
        run: |
          [ ! -d ".build/" ] && swift run -c release swiftformat ../ --lint || .build/release/swiftformat ../ --lint
        working-directory: ./BuildTools

      - name: Build & Test
        run: |
          set -o pipefail && \
          xcodebuild \
            -scheme "LogtoSDK-Package" \
            -destination "platform=iOS Simulator,OS=16.1,name=iPhone 14 Pro" \
            -enableCodeCoverage=YES \
            -resultBundlePath Logto.xcresult \
            test | \
          xcpretty

      # From https://github.com/codecov/uploader/issues/223
      - name: Convert Coverage Report to Codecov Format
        run: |
          npm add yargs@^15.1.0
          node generate-codecov-json.js --archive-path ./Logto.xcresult

      - name: Codecov Report Upload
        uses: codecov/codecov-action@v3
        with:
          flags: swift-sdk
          files: ./coverage-report-Logto.json
